[submodule "Apps/Apps/UrbanAgri_Vana"]
	path = Apps/Apps/UrbanAgri_Vana
	url = https://github.com/KismetKrystle/UrbanAgri_Vana.git
[submodule "Apps/Apps/UrbanAgri_Curve2"]
	path = Apps/Apps/UrbanAgri_Curve2
	url = https://github.com/KismetKrystle/UrbanAgri_Curve2.git
